name: test

on:
  push:
    branches:
      - dev
    paths:
      - 'visualizer/**'
      - '.github/workflows/test.yml'

jobs:
  dev_test:
    runs-on: macos-10.15

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
          token: ${{ secrets.PERSONAL_TOKEN }}

      - name: build
        run: |
          mkdir build
          cd build
          cmake ..
          make

      - name: test
        working-directory: build
        run: ./test

      - name: run-app
        working-directory: build
        run: ./app -i ../instances/sample.txt -s TSWAP -o result.txt -v

      - name: build-visualizer
        run: bash ./visualizer/scripts/build_macos.sh
